fastapi
uvicorn
sqlalchemy
pydantic
databases
aiofiles
openai
PyMuPDF
PyPDF2
python-multipart
requests
python-dotenv
pydantic-settings
openai
python-docx
scipy
sentence-transformers
chardet
python-docx 
pandas